{% trans_default_domain 'home_page' %}
<section class="py-5 bg-light">
	<div class="container">
		<div class="card shadow">
			<div
				class="row g-0">
				<!-- Lewa strona -->
				<div class="col-md-6 d-flex align-items-center p-4">
					<h4 class="fs-4">{{ 'newsletter.order' |trans|upper }}</h4>
				</div>
				<!-- Prawa strona (formularz) -->
				<div class="col-md-6 bg-dark text-white p-4">
					<form action="{{ path('app_home_page') }}" method="POST">
						<div class="mb-3">
							<label for="firstName" class="form-label">{{ 'newsletter.first_name' |trans}}</label>
							<input type="text" class="form-control" id="firstName" name="firstName" required>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">{{ 'newsletter.email' |trans}}</label>
							<input type="email" class="form-control" id="email" name="email" required>
						</div>
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" id="terms" name="terms" required>
							<label class="form-check-label" for="terms">
								{{ 'newsletter.agreed' |trans}}
							</label>
						</div>
						<button type="submit" class="btn btn-light w-100">{{ 'newsletter.save' |trans}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
