{% extends 'base.html.twig' %}
{% trans_default_domain 'about' %}

{% block title %}
	{{ 'about.title'|trans}}
{% endblock %}

{% block body %}
	{% embed 'partials/_header.html.twig' %}
		{% block header_title %}
			{{ 'about.title'|trans({},'about') }}
		{% endblock %}
		{% block header_subtitle %}
			{{ 'about.subtitle'|trans({},'about')|nl2br }}
		{% endblock %}
	{% endembed %}
	<section class="container my-5">
		<div class="row">
			<div class="col-lg-6 mb-4">
				<div class="card shadow-sm border-0 h-100">
					<img src="{{ asset('images/about/organizators.jpg') }}" alt="zdjęcie organizatorów" class="card-img-top img-fluid rounded-top">
					<div class="card-body">
						<p class="card-text text-center">
							{{ 'about.photo_desc'|trans }}
						</p>
					</div>
				</div>
			</div>
			{% include 'about/_paragraphs.html.twig' %}
		</div>

		{% include 'about/_links.html.twig' %}
	</section>
{% endblock %}
