{% extends 'base.html.twig' %}
{% trans_default_domain 'register' %}
{% block title %}
	{{ 'title'|trans }}
{% endblock %}

{% block body %}
	<div class="container mt-5 " style="max-width: 600px;">
		<h1 class="mb-4">{{ 'header'|trans }}</h1>

		<div class="card p-4 shadow-sm">
			{{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

			<div class="mb-3">
				{{ form_label(registrationForm.firstName) }}
				{{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(registrationForm.firstName) }}
			</div>

			<div class="mb-3">
				{{ form_label(registrationForm.lastName) }}
				{{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(registrationForm.lastName) }}
			</div>

			<div class="mb-3">
				{{ form_label(registrationForm.gender) }}
				{{ form_widget(registrationForm.gender, {'attr': {'class': 'form-select'}}) }}
				{{ form_errors(registrationForm.gender) }}
			</div>

			<div class="mb-3">
				{{ form_label(registrationForm.phoneNumber) }}
				{{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(registrationForm.phoneNumber) }}
			</div>

			<div class="mb-3">
				{{ form_label(registrationForm.email) }}
				{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(registrationForm.email) }}
			</div>

			<div class="mb-3">
				{{ form_label(registrationForm.plainPassword) }}
				{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(registrationForm.plainPassword) }}
			</div>

			<div class="mb-3">
				{{ form_label(registrationForm.diet) }}
				{{ form_widget(registrationForm.diet, {'attr': {'class': 'form-select'}}) }}
				{{ form_errors(registrationForm.diet) }}
			</div>

			<button class="btn btn-primary mt-3 w-100" type="submit">
				{{ 'submit'|trans }}
			</button>

			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
