{% trans_default_domain 'partials' %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home_page') }}">
			<img src="{{ asset('images/logo.png') }}" alt="FeelTheHoliday" height="60">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{#{{ path('change_me') }}#}">{{ 'navbar.events'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{#{{ path('change_me') }}#}">{{ 'navbar.archive'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{#{{ path('change_me') }}#}">{{ 'navbar.contact'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_about') }}">{{ 'navbar.about'|trans }}</a>
				</li>
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="btn btn-primary me-2" href="{#{{ path('change_me') }}#}">{{ 'navbar.buy'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-danger me-2" href="{#{{ path('change_me') }}#}">{{ 'navbar.crew_panel'|trans }}</a>
				</li>
				{% if app.user %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="{#{{ path('change_me') }}#}" id="userDropdown" role="button" data-bs-toggle="dropdown">
							{{ 'navbar.logged'|trans }}
							{{ app.user.firstName }}
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="{#{{ path('change_me') }}#}">{{ 'navbar.profile'|trans }}</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'navbar.logout'|trans }}</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">{{ 'navbar.login'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">{{ 'navbar.register'|trans }}</a>
					</li>
				{% endif %}
				{% include 'partials/_language_selector.html.twig' %}
			</ul>
		</div>
	</div>
</nav>
